<h1>Editing actor</h1>

  Dvds <br />
 
		
<%= render 'form' %>

 
		
<%= form_for(@actor) do |f| %>

  <div class="field">
  
		
</div>



<% end %>

<%= link_to 'Show', @actor %> |
<%= link_to 'Back', actors_path %>
